version: '3'
services:
  users-service:
    build:
      context: ./users-service
      dockerfile: Dockerfile
    ports:
      - "${USERS_PORT}:${USERS_PORT}"
    depends_on:
      - mongo
    env_file:
      - .env
  mongo:
    image: mongo
    ports: 
      - "${MONGO_PORT}:${MONGO_PORT}"
    volumes:
      - mongo-data:/data/db
volumes:
  mongo-data: